#logo {
  color: #2da345;
  font-size: xx-large;
  font-weight: 500;
}
.d-block {
  height: 900px;
}
.shopping-bag-total {
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: large;
  font-weight: 500;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.product-container {
  margin: 40px 100px;
  background: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.row {
  margin: 0;
  padding: 15px 0;
  border-top: solid lightgrey;
  border-top-width: thin;
}
.delete-like {
  text-align: center;
}
.image-produit {
  width: 287px;
  height: 390px;
}
.product-name {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}
.btn-delete,
.btn-like,
.btn-plus,
.btn-moins {
  border: none;
  background: none;
  outline: 0;
}

.btn-delete:focus,
.btn-like:focus,
.btn-plus:focus,
.btn-moins:focus {
  outline: 0;
}

.product-qnt {
  text-align: center;
}
.product-price {
  text-align: center;
  font-size: larger;
  font-weight: 500;
}
.like {
  fill: black;
  height: 25px;
  width: 25px;
}
